body {
  overflow-x: hidden;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Section fade-in animation */
.section {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.section.show {
  opacity: 1;
  transform: translateY(0);
}

/* Hide scrollbar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
